.bill
{
    color: rgb(5, 196, 177);
    stroke-opacity:unset;
}

.input
{
    color: darkgoldenrod;
}

.h1
{
    color: darkgoldenrod;
}

.Tip
{
    color: rgb(5, 196, 177);
}

.Bill
{
    color: rgb(5, 196, 177);
}