body {
    color: magenta;
    text-align: left;
    font-size: 30;
    font-family: Georgia, serif;
}
h1
{
    text-align: left;
    color: orange;
    background-color: grey;
    font-family: impact;
    font-size: 40;
    padding: 30px;
    border: solid red;
    border-left-width: 5px;
    border-right-width: 20px;
    border-top-width: 10px;
    border-bottom-width: 30px;

    margin: 100 100 100 100;
    
}       

p
{
    text-align: left;
    color: black;
    font-size: 30;
    font-family: Impact;
}

ul
{
    font-size: 40;
    list-style-type: square;
}
ol
{
    font-size: 40;
    list-style-type: square;
}

table
{
    border: 5px solid black;
    background-color: grey;
}

th
{
    color: yellow;
    font-size: 20;
    border: 1px solid black;
    background-color: black;
    height: 400;
}

td
{
    color: red;
    font-size: 20;
    border: 1px solid black;
}

a
{
    color: greenyellow;
    background-color: indigo;
}

a:visited
{
    color: aqua
}

a:active
{
    color: red
}

div:hover
{
    color: blue
}

